#stuffgoeshere {
  position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
}

.keybartext {
  font: Calibri;
  font-size: 15px;
  fill: rgb(255,255,255);
  text-anchor: end;
}

.FH_Circle {
  fill: rgb(8, 186, 255);
  stroke: rgb(40,39,38);
  stroke-width: 0.5;
}

.tableText {
  font-family: Calibri;
  fill: rgb(255,255,255);
}

.ptext{
  font: Calibri;
  font-size: 15px;
  fill: rgb(255,255,255);
  text-anchor: start;
}

.reftext {
  font: Calibri;
  font-size: 10px;
  fill: rgb(180,180,180);
  text-anchor: end;
}
